<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="Namespace" type="Microsoft.Cosmos.FrontEnd.Namespace.NamespaceConfigurationSection, Microsoft.Cosmos.FrontEnd.Namespace" />
  </configSections>

  <startup useLegacyV2RuntimeActivationPolicy="true"/>

  <appSettings>
    <add key="ClientToolsVirtualCuster" value="http://cosmos08.osdinfra.net:88/cosmos/cosmos.clientTools"/>
    <add key="CosmosSDKRelativePath" value="/public/CosmosClientTools/CosmosSDK/Versions/"/>
    <add key="EnableJobLog" value="true"/>
  </appSettings>

  <system.net>
    <connectionManagement>
      <add address = "*" maxconnection = "10" />
    </connectionManagement>
  </system.net>

  <system.serviceModel>
      <diagnostics performanceCounters="All">
        <messageLogging
          logEntireMessage="false"
          logMalformedMessages="true"
          logMessagesAtServiceLevel="true"
          logMessagesAtTransportLevel="true"
          maxMessagesToLog="2147483647"
        />
        <!-- maxSizeOfMessageToLog="" -->
      </diagnostics>
    <bindings>
      <basicHttpBinding>
        <binding
            name="basicHttpBinding16MB"
            transferMode="StreamedResponse"
            maxBufferSize="16777216"
            maxReceivedMessageSize="1099511627776"
            >
          <readerQuotas
            maxArrayLength="16777216"
            maxStringContentLength="104857600"
            />
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Ntlm"/>
          </security>
        </binding>
      </basicHttpBinding>

      <webHttpBinding>
        <binding
            name="webHttpBinding16MB"
            maxBufferSize="16777216"
            maxReceivedMessageSize="16777216"
            >
          <readerQuotas
            maxArrayLength="16777216"
            />
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Ntlm"/>
          </security>
        </binding>
      </webHttpBinding>
    </bindings>

    <client>
        <endpoint
          name="Microsoft.Cosmos.FrontEnd.GlobalNamespace.GlobalNamespaceClient"
          address="http://cosmos.osdinfra.net:80/GlobalNamespace/"
          behaviorConfiguration="GlobalNamespaceBehavior"
          binding="basicHttpBinding"
          bindingConfiguration="basicHttpBinding16MB"
          contract="Microsoft.Cosmos.FrontEnd.GlobalNamespace.IGlobalNamespaceService"
        />

        <endpoint
          name="Microsoft.Cosmos.FrontEnd.ExecutionClient"
          address="http://cosmos.osdinfra.net:80/Execution/"
          behaviorConfiguration="ExecutionBehavior"
          binding="basicHttpBinding"
          bindingConfiguration="basicHttpBinding16MB"
          contract="Microsoft.Cosmos.FrontEnd.Contract.IExecutionService"
        />

        <endpoint
          name="Microsoft.Cosmos.FrontEnd.VCManagementClientForOut"
          address="http://cosmos.osdinfra.net:80/VCManagementService/"
          behaviorConfiguration="VCManagementSelfServiceBehavior"
          binding="basicHttpBinding"
          bindingConfiguration="basicHttpBinding16MB"
          contract="Microsoft.Cosmos.VCManagementService.Contract.IVCManagementClient"
        />

        <endpoint
        name="Microsoft.Cosmos.FrontEnd.StoreClient"
        address="http://cosmos.osdinfra.net:80/Store/"
        behaviorConfiguration="StoreBehavior"
        binding="basicHttpBinding"
        bindingConfiguration="basicHttpBinding16MB"
        contract="Microsoft.Cosmos.FrontEnd.Contract.IStoreService"
        />

        <endpoint
        name="Microsoft.Cosmos.FrontEnd.Test.WebClient.StructuredStreamServiceClient"
        address="http://cosmos.osdinfra.net:80/StructuredStream/"
        behaviorConfiguration="StructuredStreamServiceBehavior"
        binding="basicHttpBinding"
        bindingConfiguration="basicHttpBinding16MB"
        contract="Microsoft.Cosmos.FrontEnd.Contract.IStructuredStreamService"
        />

      <endpoint
        name="Microsoft.Cosmos.FrontEnd.LegacyClient"
        address="http://cosmos.osdinfra.net:88/cosmos/"
        behaviorConfiguration="LegacyBehavior"
        binding="webHttpBinding"
        bindingConfiguration="webHttpBinding16MB"
        contract="Microsoft.Cosmos.FrontEnd.Contract.ILegacyService"
        />

      <endpoint
        name="Microsoft.Cosmos.FrontEnd.WebClient.LegacyNamespaceClient"
        address="http://cosmos.osdinfra.net:80/LegacyNamespace/"
        behaviorConfiguration="LegacyNamespaceBehavior"
        binding="basicHttpBinding"
        bindingConfiguration="basicHttpBinding16MB"
        contract="Microsoft.Cosmos.FrontEnd.Contract.ILegacyNamespaceService"
        />
    </client>

    <behaviors>
      <endpointBehaviors>
        <behavior
          name="GlobalNamespaceBehavior">
        </behavior>

        <behavior
            name="ExecutionBehavior">
          </behavior>

          <behavior
              name="VCManagementSelfServiceBehavior">
          </behavior>

          <behavior
            name="StoreBehavior">
          </behavior>

          <behavior
            name="StructuredStreamServiceBehavior">
            <dataContractSerializer maxItemsInObjectGraph="16777216" />
          </behavior>

          <behavior
            name="LegacyBehavior">
            <webHttp />
          </behavior>

          <behavior
            name="LegacyNamespaceBehavior">
          </behavior>
      </endpointBehaviors>
    </behaviors>

  </system.serviceModel>
  <Namespace>
    <Clusters>
      <Cluster
        CosmosClusterName="cosmos05-prod-sn2"
        AutopilotEnvironmentName="cosmos05-prod-sn2"
        AutopilotClusterName="sn2"
        CwsRootUrl="cws.cosmos05.osdinfra.net"
        DipRedirectionPort="85">
        <PrimaryAuthority Dns="cosmos05.osdinfra.net"/>
        <AlternateAuthorities>
          <Authority Dns="be.cosmos05.osdinfra.net"/>
          <Authority Dns="legacycfe.cosmos05.osdinfra.net"/>
          <Authority Dns="legacycfe.be.cosmos05.osdinfra.net"/>
          <Authority Dns="legacycfe.test.cosmos05.osdinfra.net"/>
          <Authority Dns="legacycfe.ppe.cosmos05.osdinfra.net"/>
          <!-- Hack so that Tellme can be migrated from VCWS to CFE (bug 703737) -->
          <Authority Dns="cosmos05.osdinfra.net.private.sv1.tellme.com"/>
          <Authority Dns="cosmos05.osdinfra.net.private.az1.tellme.com"/>
          <Authority Dns="cosmos05.osdinfra.net.private.va1.tellme.com"/>
          <Authority Dns="cosmos05.osdinfra.net.backside.sv2.tellme.com"/>
          <!-- Office 365 uses NAT address to connect to CFE (TFS#257702) -->
          <Authority Dns="cosmos05.mgmt.msft.net"/>
          <Authority Dns="cosmos05.mgmt2.msft.net"/>
        </AlternateAuthorities>
      </Cluster>

      <Cluster
        CosmosClusterName="cosmos06-prod-ch1b"
        AutopilotEnvironmentName="cosmos06-prod-ch1b"
        AutopilotClusterName="ch1b"
        CwsRootUrl="cws.cosmos06.osdinfra.net"
        DipRedirectionPort="86">
        <PrimaryAuthority Dns="cosmos06.osdinfra.net"/>
        <AlternateAuthorities>
          <Authority Dns="be.cosmos06.osdinfra.net"/>
          <Authority Dns="legacycfe.cosmos06.osdinfra.net"/>
          <Authority Dns="legacycfe.be.cosmos06.osdinfra.net"/>
        </AlternateAuthorities>
      </Cluster>

      <!-- Port 88 is reserved for backwards compatibility with VCWS, so cosmos08 uses 89 instead of 88 -->
      <Cluster CosmosClusterName="cosmos08-prod-co3c"
        AutopilotEnvironmentName="cosmos08-prod-co3c"
        AutopilotClusterName="co3c"
        CwsRootUrl="cws.cosmos08.osdinfra.net"
        DipRedirectionPort="89">
        <PrimaryAuthority Dns="cosmos08.osdinfra.net" />
        <AlternateAuthorities>
          <Authority Dns="be.cosmos08.osdinfra.net" />
        </AlternateAuthorities>
      </Cluster>

      <Cluster CosmosClusterName="cosmos09-prod-co3c"
        AutopilotEnvironmentName="cosmos09-prod-co3c"
        AutopilotClusterName="co3c"
        CwsRootUrl="cws.cosmos09.osdinfra.net"
        DipRedirectionPort="91">
        <PrimaryAuthority Dns="cosmos09.osdinfra.net" />
        <AlternateAuthorities>
          <Authority Dns="be.cosmos09.osdinfra.net" />
        </AlternateAuthorities>
      </Cluster>

      <Cluster CosmosClusterName="cosmos10-prod-sn2b"
        AutopilotEnvironmentName="cosmos10-prod-sn2b"
        AutopilotClusterName="sn2b"
        CwsRootUrl="cws.cosmos10.osdinfra.net"
        DipRedirectionPort="92">
        <PrimaryAuthority Dns="cosmos10.osdinfra.net" />
        <AlternateAuthorities>
          <Authority Dns="be.cosmos10.osdinfra.net" />
        </AlternateAuthorities>
      </Cluster>

      <Cluster CosmosClusterName="cosmos11-prod-cy2"
        AutopilotEnvironmentName="cosmos11a-prod-cy2"
        AutopilotClusterName="cy2"
        CwsRootUrl="cws.cosmos11.osdinfra.net"
        DipRedirectionPort="93">
        <PrimaryAuthority Dns="cosmos11.osdinfra.net" />
        <AlternateAuthorities>
          <Authority Dns="be.cosmos11.osdinfra.net" />
        </AlternateAuthorities>
      </Cluster>

      <Cluster CosmosClusterName="cosmos12-prod-cy2"
        AutopilotEnvironmentName="cosmos12-prod-cy2"
        AutopilotClusterName="cy2"
        CwsRootUrl="cws.cosmos12.osdinfra.net"
        DipRedirectionPort="94">
        <PrimaryAuthority Dns="cosmos12.osdinfra.net" />
        <AlternateAuthorities>
          <Authority Dns="be.cosmos12.osdinfra.net" />
        </AlternateAuthorities>
      </Cluster>

      <Cluster
        CosmosClusterName="cosmos-ppe-sn2"
        AutopilotEnvironmentName="cosmos-ppe-sn2"
        AutopilotClusterName="sn2"
        CwsRootUrl="cws.cosmosppe.osdinfra.net"
        DipRedirectionPort="90">
        <PrimaryAuthority Dns="cosmosppe.osdinfra.net"/>
        <AlternateAuthorities>
          <Authority Dns="be.sn2.cosmosppe.osdinfra.net"/>
          <Authority Dns="legacycfe.test.cosmosppe.osdinfra.net"/>
          <Authority Dns="legacycfe.ppe.cosmosppe.osdinfra.net"/>
        </AlternateAuthorities>
      </Cluster>

      <Cluster
        CosmosClusterName="cosmosphoenix-test-sn2"
        AutopilotEnvironmentName="cosmosphoenix-test-sn2"
        AutopilotClusterName="sn2"
        CwsRootUrl="cws.cosmosphoenix.osdinfra.net"
        DipRedirectionPort="923">
        <PrimaryAuthority Dns="cosmosphoenix.osdinfra.net"/>
      </Cluster>

      <Cluster
        CosmosClusterName="cosmosargo-test-sn2"
        AutopilotEnvironmentName="cosmosargo-test-sn2"
        AutopilotClusterName="sn2"
        CwsRootUrl="cws.cosmosargo.osdinfra.net"
        DipRedirectionPort="925">
        <PrimaryAuthority Dns="cosmosargo.osdinfra.net"/>
      </Cluster>

      <Cluster
        CosmosClusterName="cosmoslynx-test-sn2"
        AutopilotEnvironmentName="cosmoslynx-test-sn2"
        AutopilotClusterName="sn2"
        CwsRootUrl="cws.cosmoslynx.osdinfra.net"
        DipRedirectionPort="926">
        <PrimaryAuthority Dns="cosmoslynx.osdinfra.net"/>
      </Cluster>

      <Cluster
        CosmosClusterName="cosmosdraco-test-sn2"
        AutopilotEnvironmentName="cosmosdraco-test-sn2"
        AutopilotClusterName="sn2"
        CwsRootUrl="cws.cosmosdraco.osdinfra.net"
        DipRedirectionPort="927">
        <PrimaryAuthority Dns="cosmosdraco.osdinfra.net"/>
        <AlternateAuthorities>
          <Authority Dns="legacycfe.test.cosmosdraco.osdinfra.net"/>
        </AlternateAuthorities>
      </Cluster>

      <Cluster
        CosmosClusterName="cosmosorion-test-sn2"
        AutopilotEnvironmentName="cosmosorion-test-sn2"
        AutopilotClusterName="sn2"
        CwsRootUrl="cws.cosmosorion.osdinfra.net"
        DipRedirectionPort="929">
        <PrimaryAuthority Dns="cosmosorion.osdinfra.net"/>
      </Cluster>

      <Cluster
        CosmosClusterName="cosmosvirgo-test-sn2"
        AutopilotEnvironmentName="cosmosvirgo-test-sn2"
        AutopilotClusterName="sn2"
        CwsRootUrl="cws.cosmosvirgo.osdinfra.net"
        DipRedirectionPort="930">
        <PrimaryAuthority Dns="cosmosvirgo.osdinfra.net"/>
      </Cluster>

      <Cluster
        CosmosClusterName="bluewhalepygmy-int-bn1"
        AutopilotEnvironmentName="bluewhalepygmy-int-bn1"
        AutopilotClusterName="bn1"
        CwsRootUrl="cws.bluewhalepygmy.osdinfra.net"
        DipRedirectionPort="933">
        <PrimaryAuthority Dns="bluewhalepygmy.osdinfra.net"/>
      </Cluster>

      <Cluster
        CosmosClusterName="cosmosbajanarwhal-test-bn1"
        AutopilotEnvironmentName="cosmosbajanarwhal-test-bn1"
        AutopilotClusterName="bn1"
        CwsRootUrl="cws.cosmosbajanarwhal.osdinfra.net"
        DipRedirectionPort="934">
        <PrimaryAuthority Dns="cosmosbajanarwhal.osdinfra.net"/>
      </Cluster>

      <Cluster
        CosmosClusterName="bluewhalekrill-int-co3c"
        AutopilotEnvironmentName="bluewhalekrill-int-co3c"
        AutopilotClusterName="co3c"
        CwsRootUrl="cws.bluewhalekrill.osdinfra.net"
        NeedsRuntimeMonitoring="false"
        DipRedirectionPort="935">
        <PrimaryAuthority Dns="bluewhalekrill.osdinfra.net"/>
      </Cluster>

      <Cluster
        CosmosClusterName="cosmosveritas-test-co3c"
        AutopilotEnvironmentName="cosmosveritas-test-co3c"
        AutopilotClusterName="co3c"
        CwsRootUrl="cws.cosmosveritas.osdinfra.net"
        DipRedirectionPort="936">
        <PrimaryAuthority Dns="cosmosveritas.osdinfra.net"/>
      </Cluster>

      <Cluster
        CosmosClusterName="cosmoslumen-test-co3c"
        AutopilotEnvironmentName="cosmoslumen-test-co3c"
        AutopilotClusterName="co3c"
        CwsRootUrl="cws.cosmoslumen.osdinfra.net"
        DipRedirectionPort="937">
        <PrimaryAuthority Dns="cosmoslumen.osdinfra.net"/>
      </Cluster>

      <Cluster
        CosmosClusterName="cosmoscatapult-test-aptest04"
        AutopilotEnvironmentName="cosmoscatapult-test-aptest04"
        AutopilotClusterName="aptest04"
        CwsRootUrl="cws.cosmoscatapult.osdinfra.net"
        DipRedirectionPort="940">
        <PrimaryAuthority Dns="cosmoscatapult.osdinfra.net"/>
      </Cluster>

      <Cluster
        CosmosClusterName="cosmosve-test-co3c"
        AutopilotEnvironmentName="cosmosvea-test-co3c"
        AutopilotClusterName="co3c"
        CwsRootUrl="cws.cosmosvetest.osdinfra.net"
        DipRedirectionPort="941">
        <PrimaryAuthority Dns="cosmosvetest.osdinfra.net"/>
      </Cluster>
      
      <Cluster
        CosmosClusterName="localhost"
        AutopilotEnvironmentName="Default"
        AutopilotClusterName="local"
        CwsRootUrl="localhost:26000">
        <PrimaryAuthority Dns="localhost"/>
        <AlternateAuthorities>
          <Authority Dns="127.0.0.1"/>
        </AlternateAuthorities>
      </Cluster>
    </Clusters>
  </Namespace>
</configuration>
